html{
    font-size: 62.5%;
}
.gather-img{
    width: 80%;
    margin: 0 auto;
    margin-top: 15rem;
}
.show-images{
    width: 100%;
    margin: 0;
}
.show-image{
    display: inline-block;
    text-align: center;
    position: relative;
    margin-top: 5rem;
    padding: 3rem 0 1rem 0;
    border: 2rem solid #fff;
    border-radius: 4rem;
    background-color: #fff;
    transition: 1s;
}
.show-image:hover{
    background-color: #BFDCAE;
}
.show-image img{
    width: 70%;
    margin: 0 auto;
    border-radius: 2rem;
}
.image-info{
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
@media (max-width: 1500px) {
}
@media (max-width: 1200px) {
    html{
        font-size: 0.5vw;
    }
    .notice-header{
        width: 100%;
        height: 10vw;
    }
}
@media (max-width: 768px) {
    html{
        font-size: 1.2vw;
    }
    .notice-header{
        width: 100%;
        height: 12vw;
    }
}   
@media (max-width: 525px) {
    html{
        font-size: 1.9vw;
    }
    .notice-header{
        width: 100%;
        height: 16vw;
    }
}